@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
	font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}
* > a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
}
:root {
	--primary-white: #fff;
	--primary-dark: rgba(255, 255, 255, 0);
	--accent-color: #0a2327;
	--alternate-bg: rgb(240, 240, 240);
}
.app {
	scroll-behavior: smooth;
	position: relative;
}
.row {
    --bs-gutter-x: 0 !important;
     --bs-gutter-y: 0 !important;
}

/*****************Navbar ********************/
.Nav {
	position: fixed !important;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--accent-color);
}
.logo {
	letter-spacing: 0.1rem;
	font-weight: 500;
	color: var(--primary-white);
	margin-bottom: 0;
}
.Nav a:hover {
	text-decoration: none;
}

.bars {
	color: white !important;
}
.Nav a.nav-link {
	font-weight: 500;
	letter-spacing: 0.0375;
	cursor: pointer;
	text-transform: uppercase;
}
.navbar-nav > a {
	color: var(--primary-white) !important;
	border-top: 0.3125rem solid var(--primary-dark);
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	padding: 4px 12px;
	border-radius: 4px;
	cursor: pointer;
}

.navbar-nav > a:hover {
	background-color: var(--primary-white);
	color: var(--accent-color) !important;

	text-decoration: none !important;
}
.navbar-nav .active {
	background-color: var(--primary-white);
	color: var(--accent-color) !important;
	text-decoration: none !important;
}
nav a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}
/***********header***********/
.header-wrapper {
	position: relative;
	background: url(./Images/portfolio9.jpg) no-repeat, #0a2327;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.main-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 11;
	color: var(--primary-white);
}

/****Typed********/

.type-effect {
	font-size: 2rem;
	margin-bottom: 1.25rem;
}
/********Header main Offer*********/

.btn-main-offer {
	text-transform: uppercase;
	border-radius: 4px;
	padding: 0.625rem 0.75rem 0.75rem 0.75rem;
	color: var(--primary-white) !important;
	font-weight: 700 !important;
}
.btn-main-offer:hover {
	color: var(--accent-color) !important;
}
/*************particles**************/

.tsparticles-canvas-el {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

/***********ABOUT SECTION*********************/
.about-container {
	min-height: 92vh;
	padding: 10px 0;
}
.about-wrapper {
	margin-top: 2.5rem;
	min-height: 80vh;
}

.left {
	display: flex;
	justify-content: center;
}
.right {
	display: flex;
	flex-direction: column;
}
.right h2 {
	align-self: flex-start;
}
.right .list-wrapper {
	width: 80%;
}
.right .list-wrapper ul {
	list-style-position: inside;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.img-wrapper {
	width: 18rem;
	height: 20rem;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-wrapper img {
	width: 18rem;
	height: 24rem;
	object-position: center;
	/* border: 0.3125rem solid var(--accent-color); */
}

.right h2 {
	text-align: center;
}

.right .skill-wrapper {
	width: 100%;
}

.right span {
	font-size: 24px;
}
/**************SERVICES*******************/
.services-container {
	background-color: var(--alternate-bg);
}
.services-container
 {
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.services-container h2 {
	margin-bottom: 30px;
}
.card-wrapper {
	padding-top: 5px;
}
.card-container {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-bottom: 0.3125rem solid var(--accent-color);
}

.card-container p {
	width: 100%;
	text-align: center;
}
.card-container h3 {
	text-align: center;
}

.service-logo-wrapper i {
	font-size: 40px;
}
/************PORTFOLIO***************/
.portfolio-wrapper{
	min-height: 92vh;
	background: #eee;
}
.portfolio-wrapper h2 {
	margin-bottom: 30px;
}
.port-container {
	width: 80%;
	margin:auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 80%;
	gap: 1rem;
}
.portfolio {
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 8px;
}
.port:hover {
	transform: translateY(5px);
}
.port {
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	transition: all 0.3s ease;
}
.portfolio-github-link,
.portfolio-live-link {
	font-size: 24px;
	color: var(--accent-color);
	cursor: pointer;
}
.portfolio-github-link:hover,
.portfolio-live-link:hover {
	color: black;
}

/*****************FORM SECTION*****************/
.form-wrapper {
	background: var(--accent-color);
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	padding-top:2rem;
	/* justify-content: center;
	align-items: center; */
}
.form-wrapper h3 {
	margin-bottom: 40px;
	color: white;
}
.contact_info {
	height: 100%;
	display:flex;
	align-items:center;
	justify-content:center;
	/* padding: 10rem 5rem; */
}

.contact_info_content {
	line-height:3;
}
.form-wrapper p, .form-wrapper h3  {
	text-align: center;

}
.contact_btn {
	color: var(--accent-color);
	letter-spacing:5px;
}
.contact_form {
	width: 75%;
}

@media screen and (max-width: 768px) {
	.particles {
		display: none;
	}
	.card-container {
		margin-bottom: 20px;
		border-bottom: none;
	}
	.portfolio {
		margin-bottom: 10px;
	}
	.port-container {
		width:90%;
	}
	.right h2 {
		margin: 20px 0;
		align-self: center;
	}

}
@media screen and (max-width: 576px) {
	.logo {
		letter-spacing: 0;
		font-size: 18px;
	}
	.main-info h1 {
		font-size: 1.875rem;
	}

	.main-info .type-effect {
		font-size: 1.25rem;
	}

	.about-wrapper {
		max-width: 100% !important;
	}
	.contact_form {
		width: 100%;
	}
	.port-container {
		width:95%;
		grid-template-columns: 1fr;
	}
}


@media screen and (max-width: 400px) {
	.navbar{
		padding:0.5rem !important;
	}
}